## ○════════════════════════════════════════════════════════════════════════○ ##
## ○════════════════════════════════════════════════════════════════════════○ ##
## ○═════  ██████╗██╗  ██╗██╗██████╗  ██████╗██╗  ██╗ █████╗ ████████╗ ═════○ ##
##        ██╔════╝██║  ██║██║██╔══██╗██╔════╝██║  ██║██╔══██╗╚══██╔══╝        ##
##        ██║     ███████║██║██████╔╝██║     ███████║███████║   ██║           ##
##        ██║     ██╔══██║██║██╔═══╝ ██║     ██╔══██║██╔══██║   ██║           ##
##        ╚██████╗██║  ██║██║██║     ╚██████╗██║  ██║██║  ██║   ██║           ##
## ○═════  ╚═════╝╚═╝  ╚═╝╚═╝╚═╝      ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝    ═════○ ##
## ○════════════════════════════════════════════════════════════════════════○ ##
## ○════════════════════════════════════════════════════════════════════════○ ##
##           Copyright © 2026 Tyler J. Kenney. All rights reserved.           ##
## ○════════════════════════════════════════════════════════════════════════○ ##

build
chipchat.egg-info
